<?xml version="1.0"?>
<model>
  <name>SMARTmBOT</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  
  <author>
    <name>SMARTmBOT Team</name>
    <email>team@smartmbot.com</email>
  </author>
  
  <description>
    SMARTmBOT is a differential drive robot equipped with lidar sensor for navigation and mapping.
  </description>
</model>